<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Logan Thatcher's Portfolio</h1>
      <h2 class="project-tagline"></h2>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}
      <a href="https://github.com/LoganThatcher/LoganThatcher.github.io/LoganResumeMay2021" class="btn">Download Resume</a>
    </section>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>